@import 'css/variables';

/* --------------------------------------------------------------

	 layout.css
	 Disposition des blocs principaux

-------------------------------------------------------------- */

/* ------------------------------------------
/* Disposition a l'ecran des blocs principaux
/* ------------------------------------------ */

.page {
	position: relative;
	text-align: left;
	overflow: hidden;
	margin: 1em auto;
	background: #fff;
	width: $container-large-desktop;
	border:3px solid #ddd;
}

.grid {
	display: grid;
}

.page.grid{
	grid-template-columns: $grid-template-columns;
	grid-gap: $grid-gap;
}

header#header, .breadcrumb, footer, #nav {
	grid-column: 1 / 4;
}

.header {
	margin: 0;
	border-bottom: 2px solid #46839B;
}


.extra1 {
	margin-bottom:/*@margin-bottom*/1.5em/*/@*/;
}

.extra2 {
	margin-bottom:/*@margin-bottom*/1.5em/*/@*/;
}

.footer {
	margin: 1em 0 0 0;
	padding: 0.60em 0;
	border: 2px solid #ddd;
	background:#f9f9f9;
	text-align: center;
	font-size: 0.90em;
}

.footer img {
	vertical-align: middle; }


/* Gabarit d'impression */
@media print {
	.extra1,
	.extra1,
	.footer { display: none; }
	.page,
	.content { width: auto; }
}

@media all and (max-width: 767px) {
	.grid {
		grid-template-columns: 100%;
		grid-gap: 0;
		padding: 0 0.5em;
	}
	header#header, footer, #nav {
			grid-column: 1 / 4;
		}

	#content {
		order: 1;
	}

	.extra1 {
		order: 2;
	}

	.extra1 {
		order: 3;
	}

	#footer {
		order: 4
	}
	#extra1,
	#extra2,
	#content {
		grid-column: 1 / 4;
	}
}

@media (max-width: 1169px) {
	.page{
		margin: 0;
		padding: 1em;
		width: auto;
	}
}

@media all and (max-width: 800px) {
	#nav {
		width: 100%;
		order: -1;
	}
}

@media all and (min-width: 1040px) {
	.page {
		width: 1040px;
		margin: 1em auto;
	 padding:1em 2em;
	}
}
