@import 'css/variables';
/*Strip the ul of padding and list styling*/

/*Strip the ul of padding and list styling*/
.nav {
	ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: #19c589;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #nav-menu{
    display: block;
}
}

/*Responsive Styles*/
@media screen and (max-width : 760px){
    /*Make dropdown links appear inline*/
    .navbar {
    	ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
    }

}


/*Create a horizontal list with spacing*/



/*.nav-toggle {
	grid-column: 1;
	justify-self: end;
}

.js-responsivenav .nav-collapse {
	overflow: visible;
}

.nav-collapse {
	margin-bottom: $navbar-margin-bottom;
	ul li.nav-item {
	width: auto;
	display: inline-block;
	}
}

.navbar {
	background-color: $navbar-default-bg;
	height: $navbar-height;
	border: 1px solid $navbar-default-border;
	border-radius: $navbar-border-radius;
	box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	background-repeat: repeat-x;
	li {

		display: inline-block;
	}
	a {
		color: $navbar-default-link-color;
		padding: $nav-link-padding;
		display: block;
	}
	a:active {
		color: $navbar-default-link-active-color;
		background-color: $navbar-default-link-active-bg;
	}
	a:visited,  {
		color: $navbar-default-link-color;
	}
	a:hover {
		color: $navbar-default-link-hover-color;
		background-color: $navbar-default-link-hover-bg;
	}
}



@media (max-width: 40em) {
	#nav {
		position: relative;
	}
	.nav-toggle {
		position: absolute;
		right: 5px;
		top: 5px;
		width: 50px;
	}

	.nav-collapse {
		margin-bottom: 0;
		ul li.nav-item {
			display: block;
		}
	}


	#nav .navbar{
		position: fixed;
		right: 5px;
		top: 40px;
		background-color: $navbar-default-bg;
		padding: 5px;
		max-width: 500px;
		height: auto;
		text-align: right;
		z-index: $zindex-navbar;
		a {
			padding: 0 10px;
			line-height: normal;
		}
	}

	#nav ul li {
		text-align: right;
		width: auto
	}
}
*/