@import 'css/variables';

.nav-collapse {
	margin-bottom: $navbar-margin-bottom;
	ul li.nav-item {
	width: auto;
	display: inline-block;
	}
}

/* menu responsive, merci à https://medialoot.com/blog/how-to-create-a-responsive-navigation-menu-using-only-css */
.nav {
	.navbar {
		margin-bottom: 1em;
	}

	ul {
		list-style-type:none;
		margin:0;
		padding:0;
		position: absolute;
	}
	/*Create a horizontal list with spacing*/
	li {
			display:inline-block;
			float: left;
			margin-right: 1px;
	}
	/*Style for menu links*/
	li {
		a {
			border-radius: $navbar-border-radius;
			display:block;
			//height: $navbar-height-link;
			text-align: center;
			line-height: $navbar-line-height-link;
			font-family: $navbar-font-family;
			color: $navbar-default-link-color;
			background: $navbar-default-bg;
			padding: $nav-link-padding;
			text-decoration: none;
			}
		a:active {
			color: $navbar-default-link-active-color;
		}
		a:visited, {
			color: $navbar-default-link-color;
		}
		a:hover {
			color: $navbar-default-link-color;
		}
	}

	/*Hover state for top level links*/
	li:hover a {
			background: $navbar-default-link-hover-bg;
	}
	/*Style for dropdown links*/
	li:hover ul a {
			background: $navbar-default-link-hover-bg;;
			color: $navbar-default-link-hover-color;
			//height: $navbar-height-link-dropdown;
			line-height: $navbar-line-height-link-dropdown;
	}
	/*Hover state for dropdown links*/
	li:hover ul a:hover {
			background: $navbar-default-link-hover-bg;
			color: $navbar-default-link-hover-color;
	}


	/*Hide dropdown links until they are needed*/
	li ul {
			display: none;
	}
	/*Make dropdown links vertical*/
	li ul li {
			display: block;
			float: none;
	}
	/*Prevent text wrapping*/
	li ul li a {
			width: auto;
			padding: $navbar-padding-vertical-link-dropdown;
	}

	/*Display the dropdown on hover*/
	ul li a:hover + .hidden, .hidden:hover {
			display: block;
	}
	/*Style 'show menu' label button and hide it by default*/
	.show-menu {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-decoration: none;
			color: $navbar-default-toggle-color;
			background: $navbar-default-toggle-icon-bar-bg;
			text-align: center;
			padding: 10px 0;
			display: none;
	}


	/*Hide checkbox*/
	input[type=checkbox]{
			display: none;
	}
	/*Show menu when invisible checkbox is checked*/
	input[type=checkbox]:checked ~ #nav-menu{
			display: block;
	}
}

/*Responsive Styles*/
@media screen and (max-width : 760px){
		/*Make dropdown links appear inline*/
		.navbar {
			ul {
				position: static;
				display: none;
		}
		/*Create vertical spacing*/
		li {
				margin-bottom: 1px;
		}
		/*Make all menu links full width*/
		ul li, li a {
				width: 100%;
		}
		/*Display 'show menu' link*/
		.show-menu {
				display:block;
		}
		}

}


/*Create a horizontal list with spacing*/



/*


.navbar {



}



@media (max-width: 40em) {
	#nav {
		position: relative;
	}
	.nav-toggle {
		position: absolute;
		right: 5px;
		top: 5px;
		width: 50px;
	}

	.nav-collapse {
		margin-bottom: 0;
		ul li.nav-item {
			display: block;
		}
	}


	#nav .navbar{
		position: fixed;
		right: 5px;
		top: 40px;
		background-color: $navbar-default-bg;
		padding: 5px;
		max-width: 500px;
		height: auto;
		text-align: right;
		z-index: $zindex-navbar;
		a {
			padding: 0 10px;
			line-height: normal;
		}
	}

	#nav ul li {
		text-align: right;
		width: auto
	}
}
*/